<div>contact works!</div>
<br>
<br>
<form class=" border rounded-xl w-min mx-10 p-10 " [formGroup]="profileForm" (ngSubmit)="onSubmit()" cdkTrapFocus>
    <input class="border p-1" type="text" placeholder="enter name" formControlName="userName">
    @if (profileForm.controls.userName.invalid && profileForm.controls.userName.touched) {
    @if (profileForm.controls.userName.hasError('minlength')) {
    <div class="text-red-500">Name must be at least 6 characters long.</div>
    }
    }
    <br><br>
    <input class="border p-1" type="text" placeholder="enter email" formControlName="email">
    @if (profileForm.controls.email.invalid && profileForm.controls.email.touched) {
    @if (profileForm.controls.email.hasError('email')) {
    <div class="text-red-500">Enter valid email id.</div>
    }
    }
    <br><br>
    <input class="border p-1" type="text" placeholder="enter password" formControlName="password">
    @if (profileForm.controls.password.invalid && profileForm.controls.password.touched) {
    @if (profileForm.controls.password.hasError('minlength')) {
    <div class="text-red-500">Name must be at least 8 characters long.</div>
    }
    }
    <br><br>


    <div class=" flex justify-between ">
        <button (keyup.enter)="onSubmit()" (click)="onSubmit()" class="border p-2 cursor-pointer bg-green-500 text-black disabled:bg-gray-300 disabled:cursor-not-allowed"
            [disabled]="profileForm.invalid" type="submit">Submit</button>
        <button [disabled]="profileForm.pristine" (keyup.enter)="reset()" (click)="reset()" class="border p-2 cursor-pointer text-black bg-red-500 disabled:bg-gray-300 disabled:cursor-not-allowed"
            type="button">Reset</button>
    </div>

    <br>
</form>
<br>
@if (formValues) {
<div>Submitted Form Data:</div>
<div>Name: {{ formValues.userName }}</div>
<div>Email: {{ formValues.email }}</div>
<div>Password: {{ formValues.password }}</div>
}
<br>
<br><br>


<app-button1 label="Go to HomePage"></app-button1>

<div>
    <app-button label="shared button contact"></app-button>
</div>

<br><br>

<app-section-1 (messageEvent)="receiveMessage($event)"></app-section-1>

<div>Message Received: <strong>{{ receivedMessage }}</strong></div>